@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="content">
    <div class="result">

        <h1>Movies</h1>
       



    </div>
</div>





<form method="post">
    <h4>Search</h4>
    <input type="text" name="search" value="@Model.search"/>

    <input type="submit" value="Search and Filter" />
    <input type="reset" value="Clear"/>

    <div class="checkbox-list">
        <h4>Filter By MPAA Rating</h4>
        <label>
            <input type="checkbox" name="mpaa" value="G" checked="@Model.mpaa.Contains("G")" />
            Rated G
        </label>
        <label>
            <input type="checkbox" name="mpaa" value="PG" checked="@Model.mpaa.Contains("PG")"/>
            Rated PG
        </label>
        <label>
            <input type="checkbox" name="mpaa" value="PG-13" checked="@Model.mpaa.Contains("PG-13")"/>
            Rated PG-13
        </label>
        <label>
            <input type="checkbox" name="mpaa" value="R" checked="@Model.mpaa.Contains("R")"/>
            Rated R
        </label>
        <label>
            <input type="checkbox" name="mpaa" value="NC-17" checked="@Model.mpaa.Contains("NC-17")"/>
            Rated NC-17
        </label>
        <h4>Review Scores</h4>
        <label>
            Minimum IMDB Rating:
            <input type="number" min="0" max="0" step="0.1" name="minIMDB" @Model.minIMDB />
        </label>
        <label>
            Minimum IMDB Rating:
            <input type="number" min="0" max="0" step="0.1" name="minIMDB" @Model.maxIMDB />
        </label>
    </div>
</form>

@foreach (Movie movie in Model.Movies)
{
    <div class="movie-entry">
        <h2>@movie.Title (@movie.Year)</h2>
        <p>Rated @movie.MPAA_Rating</p>
        <div class="reviews">
            <div>
                Rotten Tomatoes
                <h3>@movie.Rotten_Tomatoes_Rating</h3>
            </div>
            <div>
                IMDB
                <h3>@movie.IMDB_Rating</h3>
            </div>
        </div>
    </div>
}
